name: "Semgrep"
on:
  pull_request:
    branches: [master, main]

jobs:
  semgrep:
    name: semgrep-job
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep:latest
    if: (github.actor != 'dependabot[bot]')
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: execute semgrep
        run: semgrep ci
        env:
          #specifiy the rules to use
          SEMGREP_RULES: p/default
